name: Deploy

on:
  push:
    branches:
      - panic

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build and package
        run: |
          go build -o binary

      - name: Execute remote SSH commands
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          passphrase: ${{ secrets.PASSPHRASE }}
          key: ${{ secrets.KEY }}
          script: |
            echo "Deploying to ${{ secrets.HOST }}"
            cd baru/server-v4
            git pull origin
#            go run seed/seed.go && go run seed/seed_regions.go
            sudo docker compose up --build -d
      - name: Send mail
        uses: dawidd6/action-send-mail@v3
        with:
          connection_url: ${{secrets.MAIL_CONNECTION}}
          server_address: smtp.gmail.com
          server_port: 587
          secure: true
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Github Actions job result
          to: dwikiokvianp1999@gmail.com, dwikiokvian1412@gmail.com, ilhamprastiyo678@gmail.com
          from: Luke Skywalker
          body: |
            A user with the following email address has just triggered a build:
            ${{ github.event.head_commit.author.email }}
            Here's the commit message:
            ${{ github.event.head_commit.message }}
            Build job of ${{ github.repository }} completed with status: ${{ job.status }}