name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build and package
        run: |
          # Add any build commands specific to your application
          # For example:
          go build -o binary

      - name: Execute remote SSH commands
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          passphrase: ${{ secrets.PASSPHRASE }}
          key: ${{ secrets.KEY }}
          script: |
            echo "Deploying to ${{ secrets.HOST }}"
            cd /home/dwiki/project/serverv4
            git pull origin main
            sudo docker compose up --build -d